<!-- listarjugadores.component.html -->

<div>
  <h2>Lista de Jugadores</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Equipo ID</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of jugadores">
        <td>{{ jugador.JugadorID }}</td>
        <td>{{ jugador.NombreJugador }}</td>
        <td>{{ jugador.EquipoID }}</td>
        <td><button (click) = "mostrarPopup(jugador.JugadorID)">Rendimiento</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="mostrarPopupFlag" class="popup-overlay">
  <div class="popup-container">
    <button class="popup-close" (click)="cerrarPopup()">Cerrar</button>
    <div>
      <h2>Rendimiento</h2>
      <table>
        <thead>
          <tr>
            <th>HistoricoID</th>
            <th>FechaRendimiento</th>
            <th>JugadorID ID</th>
            <th>RendimientoID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rendimiento of rendimiento">
            <td>{{ rendimiento.HistoricoID }}</td>
            <td>{{ rendimiento.FechaRendimiento }}</td>
            <td>{{ rendimiento.JugadorID }}</td>
            <td>{{ rendimiento.RendimientoID }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>